.audio-container {
  display: flex;
  flex-direction: column;
}

button {
  background-color: white;
}

button.active {
  background-color: red;
}

.test-data {
  width: 100%;
  background-color:lemonchiffon;
}